{#
# SIA SLYFOX Confidential
#
# Copyright (C) 2022 SIA SLYFOX.
# All Rights Reserved.
#
# NOTICE:  All information contained herein is, and remains
# the property of SIA SLYFOX, its suppliers and Customers,
# if any.  The intellectual and technical concepts contained
# herein are proprietary to SIA SLYFOX
# its Suppliers and Customers are protected by trade secret or copyright law.
#
# Dissemination of this information or reproduction of this material
# is strictly forbidden unless prior written permission is obtained.
#
# @author Pavel Ustimenko steve.jsfolio@gmail.com
#}
 
{% block plain_password_widget %}
    {{ form_widget(form) }}
    <br>
    <button type="button" id="button_generate_{{ id }}" class="btn btn-info plain-password-btn"
            data-parent-id="{{ id }}"{% if disabled %} disabled {% endif %}>
        {{ 'form.label_generate_password'|trans({}, "SonataAuthorizationBundle") }}
    </button>
    <button type="button" id="button_clear_{{ id }}" class="btn btn-default plain-password-btn"
            data-parent-id="{{ id }}"{% if disabled %} disabled {% endif %}>
        {{ 'form.label_clear_parent_field'|trans({}, "SonataAuthorizationBundle") }}
    </button>

    <script>
        document.getElementById('button_generate_' + '{{ id }}').addEventListener('click', e => {
            e.preventDefault();

            let charset = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789_!@#?$%^&*',
                retVal = '';
            for (let i = 0, n = charset.length; i < 8; ++i) {
                retVal += charset.charAt(Math.floor(Math.random() * n));
            }
            document.getElementById(event.target.getAttribute('data-parent-id')).value = retVal;
        });
        document.getElementById('button_clear_' + '{{ id }}').addEventListener('click', e => {
            e.preventDefault();

            document.getElementById(event.target.getAttribute('data-parent-id')).value = '';
        });
    </script>
{% endblock plain_password_widget %}