{% extends 'admin/main_layout.html.twig' %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}

    {% set has_left = false %}
    {% for block in blocks.left %}
        {% if not has_left and (block.roles|length == 0 or is_granted_affirmative(block.roles)) %}
            {% set has_left = true %}
        {% endif %}
    {% endfor %}

    {% set has_center = false %}
    {% for block in blocks.center %}
        {% if not has_center and (block.roles|length == 0 or is_granted_affirmative(block.roles)) %}
            {% set has_center = true %}
        {% endif %}
    {% endfor %}

    {% set has_right = false %}
    {% for block in blocks.right %}
        {% if not has_right and (block.roles|length == 0 or is_granted_affirmative(block.roles)) %}
            {% set has_right = true %}
        {% endif %}
    {% endfor %}

    {{ sonata_block_render_event('sonata.admin.dashboard.top') }}

    <div class="row">
        {% set width_left = has_center ? 4 : 6 %}
        {% set width_right = has_center ? 4 : 6 %}
        {% set width_center = (not has_left and not has_right) ? 12 : 4 %}

        {% if has_left or has_right %}
            <div class="col-md-{{ width_left }}">
                {% for block in blocks.left %}
                    {% if block.roles|length == 0 or is_granted_affirmative(block.roles) %}
                        {{ sonata_block_render({ 'type': block.type, 'settings': block.settings }) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if has_center %}
            <div class="col-md-{{ width_center }}">
                {% for block in blocks.center %}
                    {% if block.roles|length == 0 or is_granted_affirmative(block.roles) %}
                        {{ sonata_block_render({ 'type': block.type, 'settings': block.settings }) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if has_left or has_right %}
            <div class="col-md-{{ width_right }}">
                {% for block in blocks.right %}
                    {% if block.roles|length == 0 or is_granted_affirmative(block.roles) %}
                        {{ sonata_block_render({ 'type': block.type, 'settings': block.settings }) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {{ sonata_block_render_event('sonata.admin.dashboard.bottom') }}

{% endblock %}

